@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673697195229') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e682";
}

.icon-email:before {
  content: "\e724";
}

.icon-angle-up:before {
  content: "\e84d";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-bilibili-fill:before {
  content: "\e75c";
}

.icon-discord:before {
  content: "\e6e0";
}

.icon-youtube:before {
  content: "\e73b";
}

